// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@for $var from 1 to 75 {
    .font-size-#{$var}{
        font-size: #{$var}+'px';
    }
}

$weight: 100, 200, 3000, 400, 500, 600, 700, 800, 900;

@each $var in $weight {
    .font-weight-#{$var}{
        font-weight: #{$var};
    }
}

@font-face {
    font-family: "CodecPro";
    font-style: normal;
    font-weight: 100;
    src: local('CodecPro-ExtraLight'),
    local('CodecPro ExtraLight'),
    url(@/assets/fonts/CodecPro/CodecPro-ExtraLight.otf) format('otf');
}

@font-face {
    font-family: "CodecPro";
    font-style: normal;
    font-weight: 400;
    src: local('CodecPro-Regular'),
    local('CodecPro Regular'),
    url(@/assets/fonts/CodecPro/CodecPro-Regular.otf) format('otf');
}

@font-face {
    font-family: "CodecPro";
    font-style: normal;
    font-weight: 700;
    src: local('CodecPro-Bold'),
    local('CodecPro Bold'),
    url(@/assets/fonts/CodecPro/CodecPro-Bold.otf) format('otf');
}

@font-face {
    font-family: "CodecPro";
    font-style: normal;
    font-weight: 900;
    src: local('CodecPro-ExtraBold'),
    local('CodecPro ExtraBold'),
    url(@/assets/fonts/CodecPro/CodecPro-ExtraBold.otf) format('otf');
}

.v-application {
    font-family: "CodecPro", sans-serif;
}